:host{
    width: 100%;
}
button[type="submit"]{
    width: 100%;
    margin-top: 8px;
}

a[role='button']{
    cursor: pointer;
}

p-message{
    width: 100%;;
    p{
        padding: 6px 0;
        font-size: 13px;
    }
}