<app-auth-layout [colorTheme]="colorThemeService.colorTheme">
    <form #loginForm="ngForm" (ngSubmit)="logIn()">
        <label for="email" class="heading-s">
            Email
        </label>
        <span>
            <input type="email" id="email" name="email" required class="text-input" [(ngModel)]="email" autocomplete="email">
        </span>
        <label for="password" class="heading-s">
            Password
        </label>
        <span>
            <input type="password" id="password" name="password" required class="text-input" [(ngModel)]="password" autocomplete="current-password">
        </span>
        <button type="submit" class="btn button-primary-s" [disabled]="!loginForm.form.valid">
            Log In
        </button>
    </form>

    <!--<a routerLink="../signup">Create an account</a>-->
    <p class="body-l">Want to try the app? &nbsp; <a role="button" (click)="logInWithTestUser()">Log in as a test user</a></p>
</app-auth-layout>
