:host{
    width: 100%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

button[type="submit"]{
    width: 100%;
    margin-top: 8px;
}

a[role='button']{
    cursor: pointer;
}

p-message{
    width: 100%;;
    p{
        padding: 6px 0;
        font-size: 13px;
    }
}