<h4 class="heading-l">
    Edit Task
</h4>
<form>
    <label class="heading-s" for="title">Title</label>
    <input class="text-input" name="title" id="title" type="text" value="" placeholder="e.g. Take coffe break">
    <label class="heading-s" for="description">Description</label>
    <textarea class="description-input" name="description" id="description" placeholder="e.g. It's always good to take a break. This 15 minute break will recharge the batteries a little."></textarea>
    <label class="heading-s" for="subtasks">Subtasks</label>
    <div class="subtask-container">
        <input class="text-input" type="text" placeholder="e.g. Make coffee">
        <button><svg width="15" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#828FA3" fill-rule="evenodd"><path d="m12.728 0 2.122 2.122L2.122 14.85 0 12.728z"/><path d="M0 2.122 2.122 0 14.85 12.728l-2.122 2.122z"/></g></svg></button>
    </div>
    <button class="btn button-secondary">+ Add new Subtask</button>
    <label class="heading-s status-label">Status</label>
    <select class="select" name="" id="">
        <option>Todo</option>
        <option>Doing</option>
        <option>Done</option>
    </select>

</form>