@let activeBoard = boardsStore.activeBoard();
<div class="header-left">
    <img 
        class="logo" 
        [ngClass]="sidebarService.sidebarOpened ? 'sidebarOpened' : 'sidebarClosed'" 
        [src]="colorThemeService.colorTheme === 'light' ? 'assets/logo-dark.svg' : 'assets/logo-light.svg'" 
        alt="logo"
    >
    <img class="mobile-logo" src="assets/logo-mobile.svg" alt="logo-mobile">
    <div class="line"></div>
    <button (click)="sidebarService.toggleSidebar()" [ngSwitch]="sidebarService.sidebarOpened">
        <h1 *ngIf="activeBoard" class="heading-xl">{{activeBoard.name}}</h1>
        <img *ngSwitchCase="false" src="assets/icon-chevron-down.svg" alt="extend menu">
        <img *ngSwitchCase="true" src="assets/icon-chevron-up.svg" alt="collapse menu">
    </button>
</div>
<div *ngIf="boardsStore.boards().length > 0" class="header-right">
    <button [disabled]="activeBoard?.statuses?.length === 0" (click)="handleAddNewTask()" class=" btn button-primary-l">+ <span>Add New Task</span></button>
    <button (click)="toggleEditDeleteOverlay($event)" class="btn-vertical-dots"><img src="assets/icon-vertical-ellipsis.svg" alt="3 dots"></button>
    <div *ngIf="showEditDeleteOverlay" class="edit-delete-overlay">
        <button [routerLink]="editBoardPath()" class="edit-board">Edit Board</button>
        <button (click)="onDeleteBoardBtnClick($event)" class="delete-board">Delete Board</button>
    </div>
</div>

@if(boardBeingDeleted() && activeBoard){
    <app-confirm-delete-board 
        [board]="activeBoard"
        (confirm)="deleteBoard()" 
        (cancel)="boardBeingDeleted.set(false)" 
    />
}



