<div *ngIf="!this.boardsService.currentBoard" class="empty-board">
    <h1 class="heading-l">There are no boards. Create a new board to get started.</h1>
    <button (click)="onNewBoardClick()" class="btn button-primary-l">+ Add New Board</button>
</div>
<ng-container *ngIf="this.boardsService.currentBoard">
    <div *ngIf="this.boardsService.currentBoard.columns.length === 0" class="empty-board">
        <h1 class="heading-l">This board is empty. Create a new column to get started.</h1>
        <button (click)="onNewColumnClick()" class="btn button-primary-l">+ Add New Column</button>
    </div>
    <app-column
    *ngFor="let column of this.boardsService.currentBoard.columns; let i = index"
    [columnName]="column.name"
    [taskNumber]="column.tasks.length"
    [tasks]="column.tasks"
    [color]="colors[i]"
    [columnIndex]="i"
    ></app-column>
    <div *ngIf="this.boardsService.currentBoard.columns.length > 0" (click)="onNewColumnClick()" class="new-column">
        <h2 class="heading-xl">+ New Column</h2>
    </div>
</ng-container>
