.modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
        img{
            padding: 0;
        }
    }
    .edit-delete-overlay{
        position:absolute;
        display: flex;
        flex-direction: column;
        background-color: var(--color-bg);
        border-radius: 8px;
        right: 0;
        transform: translate(50%,75%);
        z-index: 10;
        @media screen and (max-width: 575px) {
            transform: translate(0, 75%);
        }
        button{
            background: transparent;
            text-align: start;
            font-family: "Plus Jakarta Sans", sans-serif;
            border: none;
            padding: 1em;
            cursor: pointer;
            white-space: nowrap;
            transition: background-color .3s;
            &:hover{
                background-color: rgba(99,95,199,.25);
            }
            &:first-child{
                border-radius: 8px 8px 0 0;
            }
            &:last-child{
                border-radius: 0 0 8px 8px;
            }
        }
        .edit-task{
            color: #828FA3;
        }
        .delete-task{
            color: #EA5555;
        }
    }
}
p{
    color: #828FA3;
    padding: 0 0 1.5rem 0;
}
h5{
    padding-bottom: 1rem;
}
.subtask-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.status-container{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

