<app-modal (backdropClick)="close()">

  <div class="modal-head" modalHeader>
    <h4 class="heading-l">{{task().name}}</h4>
    <button (click)="toggleEditDeleteOverlay()" class="btn-vertical-dots"><img src="assets/icon-vertical-ellipsis.svg" alt="3 dots"></button>
    @if (showEditDeleteOverlay) {
      <div class="edit-delete-overlay">
        <button (click)="modalShowService.openEditTaskModal()" class="edit-task">Edit Task</button>
        <button (click)="taskBeingDeleted.set(true)" class="delete-task">Delete Task</button>
      </div>
    }
  </div>

  <ng-container modalBody>
    @if(task().description){
      <p class="body-l">{{task().description}}</p>
    }
    <h5 class="heading-s">Subtasks({{ completedSubtasks().length }} of {{task().subtasks.length}})</h5>
    <div class="subtask-container">
      @for (subtask of task().subtasks; let i = $index; track i) {
        <div
          class="checkbox-container"
          (click)="handleCheckboxClick(subtask)"
          >
          <input [checked]="subtask.isCompleted" type="checkbox" aria-label="Subtask completed">
          <span class="checkbox-replace"></span>
          {{subtask.name}}
        </div>
      }
    </div>
    <div class="status-container">
      <label class="heading-s">Current Status</label>
      <select #status (change)="changeStatus(status.value)" name="status" id="status-select" class="select">
        @for (status of statuses(); track status.id) {
          <option
            [value]="status.id"
            [selected]="status.id === task().statusId">
            {{status.name}}
          </option>
        }
      </select>
    </div>
  </ng-container>
</app-modal>

@if(taskBeingDeleted()){
  <app-confirm-delete-task 
  [task]="task()"
  (confirm)="deleteTask()" 
  (cancel)="taskBeingDeleted.set(false)" 
  />
}
