<app-header [lightmode]="lightmode"></app-header>


<!--
<h1 class="heading-xl">This is an example!</h1>
<h1 class="heading-l">This is an example!</h1>
<h1 class="heading-m">This is an example!</h1>
<h1 class="heading-s">This is an example!</h1>
<p class="body-l">This is an example!</p>
<p class="body-m">This is an example!</p>
<button class="button-primary-l">Button Primary (L)</button>
<br>
<br>
<button class="button-primary-s">Button Primary (S)</button>
<br>
<br>
<button class="button-secondary">Button Secondary light</button>
<br>
<br>
<button class="button-secondary">Button Secondary dark</button>
<br>
<br>

<form>
    <label style="width: 250px;" class="checkbox-container">
        <input type="checkbox">
        <span class="checkbox-replace"></span>
        This is a checkbox
    </label>
</form>
<br>
<br>
-->
<button (click)="modeToggle()" class="button-destructive">Button Destructive</button>