<div class="column-head">
  <span [style.background-color]="color"></span>
  <h2 class="heading-s">{{columnName | uppercase}} ({{taskNumber}})</h2>
</div>
<div (dragover)="onDragOver($event)" class="column-body" (drop)="onDrop($event)">
  @for (task of tasks; let i = $index; track i) {
    <div class="task" 
      #taskEl
      [id]="task.id" 
      (click)="onTaskClick(task.id)"
      (dragstart)="onDragStart(task)" 
      (dragend)="onDragEnd()"
      draggable="true">
      <div class="task-inner-wrapper" [style.pointer-events]="draggedTask() ? 'none' : 'auto'">
        <h3 class="heading-m">{{task.name}}</h3>
        <p class="body-m">{{filterCompletedSubtasks(task.subtasks)}} of {{task.subtasks.length}} subtasks</p>
      </div>
    </div>
  }
</div>
