<app-modal (backdropClick)="close()">
  <div modalHeader style="display: flex; justify-content: space-between; align-items: center; gap: .5rem;">
    <h4 class="heading-l" >Board Members</h4>
    <app-board-member-role-info/>
  </div>
  <div modalBody>
    <p>Only the board owner can manage members.</p>
    <div style="display: flex; flex-direction: column; gap: 8px;">
      @for(member of boardMemberStore.sortedBoardMembers(); track member.id){
        @let editing = memberIdInEditMode() === member.id;
        <div class="member-panel">
          <div class="member-panel-info">
            <p>{{member.email}}</p>
            @if(!editing){
              <app-board-member-role-chip [role]="member.role" />
            }@else{
            <p-select ariaLabelledBy="editRole" [options]="roleOptions()" optionLabel="label" optionValue="value" [(ngModel)]="selectedMemberRoleToEdit" placeholder="Select a role" appendTo="body" [fluid]="true" [class.p-invalid]="editRoleForm.role().invalid() && editRoleForm.role().touched()"/>
            }
          </div>
          
            <div class="member-panel-actions">
              @if(member.role !== 'owner' && boardsStore.activeBoardMemberRole() === "owner"){
                @if(editing){
                  <p-button icon="pi pi-check" [rounded]="true" [text]="true" ariaLabel="Save" pTooltip="Save" tooltipPosition="top" (click)="onEditRoleSubmit()"/>
                  <p-button icon="pi pi-times" severity="danger" [rounded]="true" [text]="true" ariaLabel="Cancel" pTooltip="Cancel" tooltipPosition="top" (click)="memberIdInEditMode.set(null)"/>
                }@else{
                  <p-button icon="pi pi-pen-to-square" [rounded]="true" [text]="true" ariaLabel="Edit" pTooltip="Edit" tooltipPosition="top" (click)="memberIdInEditMode.set(member.id)"/>
                  <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [text]="true" ariaLabel="Remove" pTooltip="Remove" tooltipPosition="top" (click)="onDeleteMember(member)"/>
                }
              }
            </div>
        </div>
      }
      <p-confirmdialog />
    </div>

    @if(boardsStore.activeBoardMemberRole() === "owner"){
      <p-fieldset legend="Add New Member" class="add-member-fieldset" [pt]="{ content: { style: 'display: flex; flex-direction: column; gap: 1rem;' } }">
        <p>Add a new board member by entering the email address of a registered user.</p>
        <form (ngSubmit)="onAddMemberSubmit()" id="addMemberForm">
          <div class="add-member-form-field-container" style="display: flex; gap: 4px">
            <app-field-wrapper style="flex: 1" [signalFormErrors]="addMemberForm.email().errors()" [canShowError]="addMemberForm.email().touched() || addMemberForm.email().dirty()">
              <label for="addEmail" class="heading-s add-member-field-label">Email*</label>
              <input id="addEmail" pInputText placeholder="johndoe@example.com" [field]="addMemberForm.email" [class.p-invalid]="addMemberForm.email().invalid() && addMemberForm.email().touched()" [fluid]="true"/>
            </app-field-wrapper>
            <app-field-wrapper style="flex: 1" [signalFormErrors]="addMemberForm.role().errors()" [canShowError]="addMemberForm.role().touched() || addMemberForm.role().touched()">
              <span id="addRole" class="heading-s add-member-field-label">Role*</span>
              <p-select ariaLabelledBy="addRole" [options]="roleOptions()" optionLabel="label" optionValue="value" [field]="addMemberForm.role" placeholder="Select a role" appendTo="body" [fluid]="true" [class.p-invalid]="addMemberForm.role().invalid() && addMemberForm.role().touched()"/>
            </app-field-wrapper>
          </div>
          <p-button form="addMemberForm" type="submit" label="Add Member" icon="pi pi-plus" iconPos="left"/>
        </form>
      </p-fieldset>
    }
  </div>
</app-modal>

