div[modalBody]{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.member-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background: var(--color-bg);
  padding: .25rem .5rem;
  border-radius: .5rem;
  flex-wrap: wrap;

  .member-panel-info{
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .member-panel-actions{
    display: flex;
    align-items: center;
    gap: 4px;
    min-height: 35px;
  }
}

form{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}