<app-auth-layout [colorTheme]="colorThemeService.colorTheme">
    @if(!signUpSuccess()) {
        <form #registerForm="ngForm" (ngSubmit)="signUp(registerForm)">
            <label for="fullName" class="heading-s">Full name*</label>
            <span><input type="text" id="fullName" name="fullName" required [(ngModel)]="model().name" class="text-input"></span>
    
            <label for="email" class="heading-s">Email*</label>
            <span>
                <input type="email" id="email" name="email" required class="text-input" [(ngModel)]="model().email" autocomplete="email" email>
            </span>
    
            <label for="password" class="heading-s">Password*</label>
            <span>
                <input type="password" id="password" name="password" required class="text-input" [(ngModel)]="model().password" autocomplete="new-password" minlength="8">
                <p class="body-l" style="margin-bottom: 1rem;">Password must have at least 8 characters</p>
            </span>
    
            <button type="submit" class="btn button-primary-s" [disabled]="!registerForm.form.valid || loading()">
                @if(loading()){
                    <i class="pi pi-spin pi-spinner"></i>
                }@else{
                    Sign Up
                }
            </button>
        </form>
        <a routerLink="../login">Already have an account? Log in</a>
    }@else{
        <h1 class="heading-l">Registration successful!</h1>
        <p class="body-l">
            Please check your inbox to verify your email address. If you didn't receive an email, click 
            <a role="button" tabindex="0" (click)="resendVerificationEmail()" [style.pointerEvents]="resendLoading() ? 'none' : 'auto'">
                @if(resendLoading()){
                    <i class="pi pi-spin pi-spinner"></i>
                }@else{
                here
                }
            </a>.
            <br/>
            Be sure to check your spam folder.
        </p>
    }

</app-auth-layout>