:host{
    display: block;
    position: fixed;
    z-index: 10;
    width: 480px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background: var(--color-sec-bg);
    padding: 2rem;
    border-radius: 6px;
}
h3{
    color: #EA5555;
}
p{
    color: #828FA3;
    margin: 1.5rem 0;
}
.button-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    button{
        width: 100%;
    }
}

@media screen and (max-width: 575px){
    :host{
        width: 90%;
    }
}