<app-public-header/>
<main>
  <section class="hero">
    <div class="hero-first">
      <h1 class="heading-xl">Organize Work Effortlessly with Kanban.</h1>
      <p class="heading-m">A simple, powerful Kanban board to help you visualize tasks, improve workflow, and ship faster with your team.</p>
      <a pButton [raised]="true" [rounded]="true" size="large" [routerLink]="['auth', 'login']" [queryParams]="{demo: true}">
        <span pButtonLabel>Try the Demo App</span>
        <i class="pi pi-arrow-right" pButtonIcon></i>
      </a>
    </div>
    <div class="hero-second">
      <img [src]="colorTheme === 'light' ? 'assets/home/board_desktop_light.png' : 'assets/home/board_desktop_dark.png'" alt="Hero Image">
    </div>
  </section>
</main>
<app-public-footer/>
