<header>
  <div class="header-container">
    <div class="header-logo-container">
        <img 
          class="logo" 
          [src]="colorTheme === 'light' ? 'assets/logo-dark.svg' : 'assets/logo-light.svg'" 
          alt="logo"
        >
    </div>
    <div class="header-actions">
      <a pButton [routerLink]="['auth', 'signup']">Sign&nbsp;up</a>
      <a pButton [routerLink]="['auth', 'login']" severity="secondary">Log&nbsp;in</a>
    </div>
  </div>
</header>
<main>
  <section class="hero">
    <div class="hero-first">
      <h1 class="heading-xl">Organize Work Effortlessly with Kanban.</h1>
      <p class="heading-m">A simple, powerful Kanban board to help you visualize tasks, improve workflow, and ship faster with your team.</p>
      <a pButton [raised]="true" [rounded]="true" size="large" [routerLink]="['auth', 'signup']">
        <span pButtonLabel>Try the Demo App</span>
        <i class="pi pi-arrow-right" pButtonIcon></i>
      </a>
    </div>
    <div class="hero-second">
      <img [src]="colorTheme === 'light' ? 'assets/home/board_desktop_light.png' : 'assets/home/board_desktop_dark.png'" alt="Hero Image">
    </div>
  </section>
</main>
<footer>
  <p>&copy; 2026 Kanban Task Manager. All rights reserved.</p>
  <div class="footer-author">
    <p>Created by Arnold Schiopu</p>
    <div class="footer-socials">
      <a href="https://www.linkedin.com/in/arnold-schiopu-3288a41a6" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://github.com/bsarnii" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
        <i class="pi pi-github"></i>
      </a>
    </div>
  </div>
</footer>
