@if (boardsStore.activeBoard(); as activeBoard) {
  @if (!activeBoard.statuses.length) {
    <div class="empty-board">
      <h1 class="heading-l">This board is empty. Create a new column to get started.</h1>
      <button routerLink="./edit-board" class="btn button-primary-l">+ Add New Column</button>
    </div>
  }
  @for (column of columnsVM(); let i = $index; track i) {
    <app-column
      [(draggedTask)]="draggedTask"
      [statusId]="column.statusId"
      [columnName]="column.columnName"
      [taskNumber]="column.tasks.length"
      [tasks]="column.tasks"
      [color]="column.color"
      (taskClick)="onTaskClick($event)"
    ></app-column>
  }
  @if (activeBoard.statuses.length) {
    <div routerLink="./edit-board" class="new-column">
      <h2 class="heading-xl">+ New Column</h2>
    </div>
  }
}
@if(!boardsStore.activeBoardExists()){
  <app-active-board-not-found/>
}
<router-outlet/>
